# Preparacion del DataSet

In [16]:
# Importar bibliotecas necesarias
import pandas as pd
from sklearn.model_selection import train_test_split

## Lectura del dataset

In [24]:
# Leer el dataset
file_path = '/home/abril/anaconda3/envs/Simulacion/datasets/datasets/sales_dataset_50000.csv'  
data = pd.read_csv(file_path)

In [45]:
data

,Transaction_ID,Date,Product,Category,Quantity_Sold,Unit_Price,Discount,Region,Payment_Method,Total
0,4c98f095-7aa9-4e73-a94b-a79e84c83cc7,2024-12-07,Smartphone,Electronics,9,958.94,0.15,South,Cash,7335.89
1,68ff3320-6da2-4747-8851-b6aa687445ab,2023-05-10,Monitor,Peripherals,4,1045.36,0.39,North,Credit Card,2550.68
2,b48d6d6a-fdf3-4f0d-9da5-6c511bf016d5,2024-03-02,Laptop,Electronics,7,1929.63,0.49,West,Credit Card,6888.78
3,ac017db5-a08e-471c-a685-bec091e29345,2023-12-01,Headphones,Accessories,9,710.64,0.41,West,Credit Card,3773.50
4,571c3ded-3a36-451b-940a-dd489d1c303b,2024-12-31,Tablet,Electronics,2,14.76,0.01,East,Cash,29.22
...,...,...,...,...,...,...,...,...,...,...
49995,8593e5c4-ebda-4003-bf66-3f256fd915de,2024-11-07,Keyboard,Accessories,7,318.21,0.12,West,Cash,1960.17
49996,ee6933c4-c88f-4618-8486-721a3bcc0ad0,2023-12-14,Laptop,Accessories,8,1225.89,0.33,South,Bank Transfer,6570.77
49997,28a576ad-b0b8-4958-b17c-20f8bbabf2d4,2023-07-25,Headphones,Accessories,4,1308.80,0.26,West,Bank Transfer,3874.05
49998,ee8f8bab-4e4d-47c7-9fc7-4a0d54481a19,2024-09-07,Headphones,Electronics,4,1447.92,0.03,West,Bank Transfer,5617.93
49999,03dc9a60-16e3-469c-b7e9-9d30bcadb28f,2024-06-19,Keyboard,Electronics,2,1266.30,0.04,West,Credit Card,2431.30

In [25]:
# Mostrar informaciÃ³n bÃ¡sica del dataset
print("Primeras filas del dataset:")
print(data.head())

Primeras filas del dataset:
                         Transaction_ID        Date     Product     Category  \
0  4c98f095-7aa9-4e73-a94b-a79e84c83cc7  2024-12-07  Smartphone  Electronics
1  68ff3320-6da2-4747-8851-b6aa687445ab  2023-05-10     Monitor  Peripherals
2  b48d6d6a-fdf3-4f0d-9da5-6c511bf016d5  2024-03-02      Laptop  Electronics
3  ac017db5-a08e-471c-a685-bec091e29345  2023-12-01  Headphones  Accessories
4  571c3ded-3a36-451b-940a-dd489d1c303b  2024-12-31      Tablet  Electronics

   Quantity_Sold  Unit_Price  Discount Region Payment_Method    Total
0              9      958.94      0.15  South           Cash  7335.89
1              4     1045.36      0.39  North    Credit Card  2550.68
2              7     1929.63      0.49   West    Credit Card  6888.78
3              9      710.64      0.41   West    Credit Card  3773.50
4              2       14.76      0.01   East           Cash    29.22

In [26]:
print("\nInformaciÃ³n general del dataset:")
print(data.info())

InformaciÃ³n general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transaction_ID  50000 non-null  object
 1   Date            50000 non-null  object
 2   Product         50000 non-null  object
 3   Category        50000 non-null  object
 4   Quantity_Sold   50000 non-null  int64
 5   Unit_Price      50000 non-null  float64
 6   Discount        50000 non-null  float64
 7   Region          50000 non-null  object
 8   Payment_Method  50000 non-null  object
 9   Total           50000 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 3.8+ MB
None

In [27]:
# DivisiÃ³n en entrenamiento (80%) y prueba (20%)
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

In [28]:
# Verificar las dimensiones de los conjuntos
print("Conjunto de entrenamiento:", train_data.shape)
print("Conjunto de prueba:", test_data.shape)

Conjunto de entrenamiento: (40000, 10)
Conjunto de prueba: (10000, 10)

## Divicion del DataSet

In [29]:
from sklearn.model_selection import train_test_split

# DivisiÃ³n en entrenamiento, validaciÃ³n y prueba
def train_val_test_split(df, random_state=42, stratify=None):
    """
    Divide un DataFrame en entrenamiento (60%), validaciÃ³n (20%) y prueba (20%).
    
    Args:
        df (DataFrame): El dataset a dividir.
        random_state (int): Semilla para garantizar reproducibilidad.
        stratify (str): Columna para estratificaciÃ³n (opcional).
        
    Returns:
        tuple: DataFrames para entrenamiento, validaciÃ³n y prueba.
    """
    strat = df[stratify] if stratify else None
    train_set, temp_set = train_test_split(
        df, test_size=0.4, random_state=random_state, stratify=strat)
    strat_temp = temp_set[stratify] if stratify else None
    val_set, test_set = train_test_split(
        temp_set, test_size=0.5, random_state=random_state, stratify=strat_temp)
    return train_set, val_set, test_set

In [31]:
# Aplicar la funciÃ³n al dataset
train_data, val_data, test_data = train_val_test_split(data)

In [32]:
# Verificar las dimensiones de los conjuntos
print("TamaÃ±o del conjunto de entrenamiento:", train_data.shape)
print("TamaÃ±o del conjunto de validaciÃ³n:", val_data.shape)
print("TamaÃ±o del conjunto de prueba:", test_data.shape)

TamaÃ±o del conjunto de entrenamiento: (30000, 10)
TamaÃ±o del conjunto de validaciÃ³n: (10000, 10)
TamaÃ±o del conjunto de prueba: (10000, 10)

In [33]:
# Guardar los conjuntos en archivos CSV (opcional)
train_data.to_csv('train_data.csv', index=False)
val_data.to_csv('val_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

## Limpiando Datos

In [34]:
# Importar bibliotecas necesarias
import pandas as pd
import numpy as np

In [35]:
# 1. Manejo de valores nulos
def handle_missing_values(df, strategy="drop", fill_value=None):
    """
    Maneja valores nulos en un DataFrame.

    Args:
        df (DataFrame): El dataset a procesar.
        strategy (str): Estrategia para manejar valores nulos ("drop" o "fill").
        fill_value (any): Valor con el que llenar valores nulos si strategy="fill".
        
    Returns:
        DataFrame: El dataset procesado.
    """
    if strategy == "drop":
        return df.dropna()
    elif strategy == "fill":
        return df.fillna(fill_value)
    else:
        raise ValueError("Estrategia no vÃ¡lida: elige 'drop' o 'fill'.")

In [36]:
# 2. EliminaciÃ³n de duplicados
def remove_duplicates(df):
    """
    Elimina filas duplicadas en un DataFrame.

    Args:
        df (DataFrame): El dataset a procesar.
        
    Returns:
        DataFrame: El dataset sin duplicados.
    """
    return df.drop_duplicates()

In [37]:
# 3. Manejo de valores atÃ­picos
def remove_outliers(df, columns, threshold=3):
    """
    Elimina valores atÃ­picos basados en el Z-score.

    Args:
        df (DataFrame): El dataset a procesar.
        columns (list): Columnas a analizar para valores atÃ­picos.
        threshold (float): Umbral para identificar valores atÃ­picos (default: 3).
        
    Returns:
        DataFrame: El dataset sin valores atÃ­picos.
    """
    for col in columns:
        if df[col].dtype in [np.float64, np.int64]:
            z_scores = (df[col] - df[col].mean()) / df[col].std()
            df = df[np.abs(z_scores) < threshold]
    return df

In [38]:
# 4. ValidaciÃ³n de columnas (ejemplo: verificar consistencia en cÃ¡lculos)
def validate_totals(df):
    """
    Verifica que la columna 'Total' sea consistente con los cÃ¡lculos de otras columnas.

    Args:
        df (DataFrame): El dataset a procesar.
        
    Returns:
        DataFrame: El dataset con filas inconsistentes eliminadas.
    """
    df['Calculated_Total'] = df['Quantity_Sold'] * df['Unit_Price'] * (1 - df['Discount'])
    return df[np.isclose(df['Total'], df['Calculated_Total'], atol=1e-2)]

In [39]:
# Aplicar las funciones al dataset
# 1. Manejar valores nulos (estrategia de llenado con ceros como ejemplo)
data_cleaned = handle_missing_values(data, strategy="fill", fill_value=0)

In [40]:
# 2. Eliminar duplicados
data_cleaned = remove_duplicates(data_cleaned)

In [41]:
# 3. Eliminar valores atÃ­picos (aplicado a columnas numÃ©ricas)
numeric_columns = ['Quantity_Sold', 'Unit_Price', 'Discount', 'Total']
data_cleaned = remove_outliers(data_cleaned, numeric_columns)

In [42]:
 # 4. Validar consistencia de cÃ¡lculos
data_cleaned = validate_totals(data_cleaned)

In [43]:
# Verificar el resultado final
print("Datos limpios:")
print(data_cleaned.head())
print("\nTamaÃ±o del dataset limpio:", data_cleaned.shape)

Datos limpios:
                         Transaction_ID        Date     Product     Category  \
0  4c98f095-7aa9-4e73-a94b-a79e84c83cc7  2024-12-07  Smartphone  Electronics
1  68ff3320-6da2-4747-8851-b6aa687445ab  2023-05-10     Monitor  Peripherals
2  b48d6d6a-fdf3-4f0d-9da5-6c511bf016d5  2024-03-02      Laptop  Electronics
3  ac017db5-a08e-471c-a685-bec091e29345  2023-12-01  Headphones  Accessories
4  571c3ded-3a36-451b-940a-dd489d1c303b  2024-12-31      Tablet  Electronics

   Quantity_Sold  Unit_Price  Discount Region Payment_Method    Total  \
0              9      958.94      0.15  South           Cash  7335.89
1              4     1045.36      0.39  North    Credit Card  2550.68
2              7     1929.63      0.49   West    Credit Card  6888.78
3              9      710.64      0.41   West    Credit Card  3773.50
4              2       14.76      0.01   East           Cash    29.22

   Calculated_Total
0         7335.8910
1         2550.6784
2         6888.7791
3         3773.4984
4           29.2248

TamaÃ±o del dataset limpio: (49453, 11)

In [44]:
# Guardar el dataset limpio en un archivo CSV
data_cleaned.to_csv('cleaned_data.csv', index=False)